@custom-media --media-xs (min-width: 418px);    /* Small mobile   */
@custom-media --media-sm (min-width: 640px);    /* Mobile         */
@custom-media --media-md (min-width: 768px);    /* Tablette       */
@custom-media --media-lg (min-width: 1024px);   /* Écran standard */
@custom-media --media-xl (min-width: 1280px);   /* Écran grand    */
@custom-media --media-2xl (min-width: 1536px);  /* Télévisiob     */
