:root {
    --text-h1-desktop: 4rem;
    --text-h2-desktop: 3.5rem;
    --text-h3-desktop: 3rem;
    --text-h4-desktop: 2.5rem;
    --text-h5-desktop: 2rem;
    --text-h6-desktop: 1.6rem;
    --text-p-desktop: 1rem;

    --text-h1-mobile: 2rem;
    --text-h2-mobile: 1.8rem;
    --text-h3-mobile: 1.6rem;
    --text-h4-mobile: 1.4rem;
    --text-h5-mobile: 1.2rem;
    --text-h6-mobile: 1rem;
    --text-p-mobile: 1rem;

    --text-h1: var(--text-h1-mobile);
    --text-h2: var(--text-h2-mobile);
    --text-h3: var(--text-h3-mobile);
    --text-h4: var(--text-h4-mobile);
    --text-h5: var(--text-h5-mobile);
    --text-h6: var(--text-h6-mobile);
    --text-p: var(--text-p-mobile);

    @media (--media-md) {
        --text-h1: var(--text-h1-desktop);
        --text-h2: var(--text-h2-desktop);
        --text-h3: var(--text-h3-desktop);
        --text-h4: var(--text-h4-desktop);
        --text-h5: var(--text-h5-desktop);
        --text-h6: var(--text-h6-desktop);
        --text-p: var(--text-p-desktop);
    }

    font-family: 'Space Grotesk', sans-serif;
    color: white;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: var(--text-h1); }
h2 { font-size: var(--text-h2); }
h3 { font-size: var(--text-h3); }
h4 { font-size: var(--text-h4); }
h5 { font-size: var(--text-h5); }
h6 { font-size: var(--text-h6); }
p  { font-size: var(--text-p);  }
