section#about .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
        width: 80svw;
    }

    .hero-logo {
        width: 80svw;
        height: 80svw;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 20px;

        > .button {
            width: 70svw;
        }
    }

    @media (--media-md) {
        .hero-logo {
            width: 30svw;
            height: 30svw;
            margin-left: 20px;
            align-self: center;
        }

        .hero-content {
            flex-direction: row;
            width: 80svw;
        }

        .hero-text {
            text-align: right;
        }

        .hero-buttons {
            flex-direction: row;

            > .button {
                width: fit-content;
            }
        }
    }

}
