.button {
    display: flex;
    flex-direction: row;
    gap: 15px;

    justify-items: center;
    align-items: center;
    width: fit-content;
    padding: 2px 20px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: bold;

    > a:active, > a:visited, > a:hover {
        text-decoration: none;
    }

    .button-text {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button-icon {
        display: flex;
        justify-self: center;
        width: fit-content;
        font-size: calc(var(--text-p) * 1.5);
    }

    &.primary {
        background-color: var(--color-bg-secondary);
        color: var(--color-bg-primary);
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }

    &.secondary {
        color: white;
        border: solid 0.1mm rgba(255, 255, 255, 0.2);
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}