.button {
    display: flex;
    flex-direction: row;
    gap: 30px;

    justify-items: center;
    align-items: center;
    width: fit-content;
    padding: 5px 20px;
    text-decoration: none;

    //padding: 15px 35px;
    //text-transform: uppercase;
    //font-weight: bold;
    //width: fit-content;

    /* flex flex-row gap-4 items-center cursor-pointer select-none */

    /*.button-text {
        font-size: var(--font-size-button);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/

    &.primary {
        background-color: var(--color-bg-secondary);
        color: var(--color-bg-primary);
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }

    &.secondary {
        border: solid 0.1mm rgba(255, 255, 255, 0.2);
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}