.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: fit-content;
    margin: 10px;

    color: var(--color-bg-secondary);
    background-color: color-mix(in oklab,var(--color-bg-secondary) 5%,transparent);
    border: solid 2px color-mix(in oklab,var(--color-bg-secondary) 30%,transparent);;
    border-radius: var(--rounded-full);
    padding: 10px;
}
