@import "tailwindcss";

:root {
  --color-bg-primary: #141C33;
  --color-bg-secondary: #5878db;

  --color-bg-success: #58db63;
  --color-fg-success: #88db8f;

  --color-bg-warning: #db9358;
  --color-fg-warning: #dbad88;

  --color-bg-error: #db5858;
  --color-fg-error: #db8888;

  --color-fg: oklch(0.95 0.01 250);

  --rounded-full: 9999999px;

  /*font-family: 'JetBrains Mono', monospace;*/
  font-family: 'Space Grotesk', sans-serif;
  color: white;

  min-height: 100dvh;
  width: 100%;
  background: radial-gradient(
          circle at 50% -150dvh,
          var(--color-bg-secondary) 0%,   /* Centre très lumineux */
          var(--color-bg-primary) 70%                     /* Ton bleu final qui arrive en douceur */
  );
}
